# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
notebooks/venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment
*.egg-info/

# Temporary files
*.tmp
*.temp